/target
/scripts/target
/coverage
/dev
/deployments/docker/build/ctx
/configs/directives_*
!/configs/directives_dsiem-backend-0_testing1.json
!/configs/directives_dsiem-backend-1_testing1.json
/report.*
